Age-specific fertility rates, Total fertility and .xls
MIGR_IMM1CTZ__custom.xlsx
Nat2018PublicUS.c20190509.r20190717.txt
No_fetales_2019.csv
disreg_nacimientos.zip
datos_nacimientos19
datos_nacimientos19.zip
F00003843_WVS_EVS_Integrated_Dictionary_Codebook_v_2014_09_22.xls
F00008390-WVS_Longitudinal_1981_2016_r_v20180912.rds
