Age-specific fertility rates, Total fertility and .xls
MIGR_IMM1CTZ__custom.xlsx
Nat2018PublicUS.c20190509.r20190717.txt
No_fetales_2019.csv
disreg_nacimientos.zip
datos_nacimientos19
datos_nacimientos19.zip
